<!--
<footer id="footer" class="dark footer-4">
    <div class="container">
        <div class="col-md-6">
            <div class="copyright">
                <img class="retina" src="images/logo-GP.png" width="400" alt=""><br> © Cybersoft 2017.
            </div>
            <div class="copyright-sub-title text-uppercase">
                Building your site with lots of fun
            </div>
        </div>
        <div class="col-md-6">
            <div class="social-link pull-right circle ">
                <a href="#"><i class="fa fa-facebook"></i></a><br>
                <a href="#"><i class="fa fa-twitter"></i></a><br>

            </div>


        </div>
</footer>
-->


<footer id="footer" class="dark footer-4">
    <div class="container">

        <!--<div class="f-logo-center">
                    <a href="index.html" class="footer-logo">
                        <img class="retina" src="assets/img/footer-logo.png" alt="">
                    </a>
                </div>-->
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <a href="#" class="m-bot-20 footer-logo">
                <img class="retina" src="/images/logo-GP.png" alt="" width="100%" />
                <div class="copyright">
                    <center> Together We Shine </center>
                </div>
                <div class="copyright-sub-title text-uppercase">
                    <center>© Cybersoft 2017.</center>
                </div>
            </a>

        </div>
        


    </div>
</footer>