<!DOCTYPE html>
<html lang="en">

<% include static/head.ejs %>

<body>

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <header class="l-header l-header_overlay">
                <% include static/header.ejs %>
        </header>
        <!--header end-->

        
        <!--body content start-->
        <!--hero section-->
        <div>
            <div class="container-mid">
                <div class="container">
                    <div class="banner-title light-txt">
                        <h1 class="text-uppercase">TrainMate</h1>
                        <h3 class="text-uppercase">Empowering the lives of passengers</h3>
                    </div>
                </div>
            </div>
        </div>
        <!--hero section-->

        <!--body content start-->
        <section class="body-content">

                <div class="page-content">
                    <div class="container">
                        <!--feature border box start-->
                        <div class="row">

                            <div class="m-bot-80 inline-block">
                                <!--title-->
                                <div class="heading-title-alt border-short-bottom text-center">
                                    <h3 class="text-uppercase">Best Contributors - 2017 March</h3>
                                    <div class="half-txt">Out of the registered contributors, these are the best contributors selected for this month.</div>
                                </div>
                                <!--title-->
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item feature-border-box text-center">
                                    <div class="title text-uppercase">
                                        <center><img src="images/admin/user-11.jpg"></center> <br>
                                        <h2>Kumara Samarasinghe</h2>
                                        <h4>1<sup>st</sup> Runners Up</h>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="featured-item feature-border-box text-center" style="background-color:#ccced3;">
                                    <div class="title text-uppercase">
                                        <center><img src="images/admin/user-4.jpg"></center> <br>
                                        <h2>Jagath Hettiarachi</h2>
                                        <h4>Winner</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item feature-border-box text-center">
                                    <div class="title text-uppercase">
                                         <center><img src="images/admin/user-6.jpg"></center> <br>
                                         <h2>Amal Madushanka</h2>
                                         <h4>2<sup>nd</sup> Runners Up</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
        </section>
        <br><br><br><hr><br>
        <!--body content end-->

        <!--footer -->
        <% include static/footer.ejs %>
        <!--footer-->

    </div>


    <!-- inject:js -->
    <% include static/base.ejs %>
    <!-- endinject -->
</body>


<!-- Mirrored from massive.markup.themebucket.net/mp-index-app-landing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Apr 2017 19:21:40 GMT -->
</html>
