<!DOCTYPE html>
<html lang="en">

<% include static/head.ejs %>

<body>

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <!--header start-->
        <% include static/header.ejs %>
        <!--header end-->
        <!--header end-->

        
        <!--body content start-->
        <!--hero section-->
        <section class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-uppercase">TrainMate - Forum</h4>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a>
                            </li>
                            <li><a href="#">Help Center</a>
                            </li>
                            <li class="active">Forum</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--hero section-->

        <!--body content start-->
        <section class="body-content">
                
                <div class="page-content">
                    <div class="container">
                        <!--feature border box start-->
                        <div class="row">
                            <div class="widget">
                                <form class="form-inline form" role="form">
                                    <div class="search-row">
                                        <button class="search-btn" type="submit" title="Search"><i class="fa fa-search"></i></button>
                                        <input type="text" class="form-control" placeholder="Search...">
                                    </div>
                                </form>
                            </div>
                            <div class="blog-classic">
                                <div class="date right">
                                    17
                                    <span>Views</span>
                                </div>
                                <div class="blog-post">
                                    <h4 class="text-uppercase"><a href="blog-single.html">standard Text post</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-user"></i>posted by <a href="#">admin</a>
                                        </li>
                                        <li><i class="fa fa-folder-open"></i>  <a href="#">lifestyle</a>, <a href="#">travel</a>, <a href="#">fashion</a>
                                        </li>
                                        <li><i class="fa fa-comments"></i>  <a href="#">4 comments</a>
                                        </li>
                                    </ul>
                                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <a href="./post/123" class="btn btn-small btn-dark-solid  "> Continue Reading</a>
                                </div>
                            </div>
                            <div class="blog-classic">
                                <div class="date right">
                                    17
                                    <span>Views</span>
                                </div>
                                <div class="blog-post">
                                    <h4 class="text-uppercase"><a href="blog-single.html">standard Text post</a></h4>
                                    <ul class="post-meta">
                                        <li><i class="fa fa-user"></i>posted by <a href="#">admin</a>
                                        </li>
                                        <li><i class="fa fa-folder-open"></i>  <a href="#">lifestyle</a>, <a href="#">travel</a>, <a href="#">fashion</a>
                                        </li>
                                        <li><i class="fa fa-comments"></i>  <a href="#">4 comments</a>
                                        </li>
                                    </ul>
                                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <a href="blog-single.html" class="btn btn-small btn-dark-solid  "> Continue Reading</a>
                                </div>
                            </div>
                        </div>
                        <div class="pagination-row">

                                        <div class="pagination-post">
                                            <div class="prev-post">
                                                <a href="#">
                                                    <div class="arrow">
                                                        <i class="fa fa-angle-double-left"></i>
                                                    </div>
                                                    <div class="pagination-txt">
                                                        <span>Previous Post</span>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="post-list-link">
                                                <a href="#">
                                                    <i class="fa fa-home"></i>
                                                </a>
                                            </div>

                                            <div class="next-post">
                                                <a href="#">
                                                    <div class="arrow">
                                                        <i class="fa fa-angle-double-right"></i>
                                                    </div>
                                                    <div class="pagination-txt">
                                                        <span>Next Post</span>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>

                                    </div>
                    </div>
                    
                </div>
        </section>
        <br><br><br><hr><br>
        <!--body content end-->

        <!--footer -->
        <% include static/footer.ejs %>
        <!--footer-->

    </div>


    <!-- inject:js -->
    <% include static/base.ejs %>
    <!-- endinject -->
</body>


<!-- Mirrored from massive.markup.themebucket.net/mp-index-app-landing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Apr 2017 19:21:40 GMT -->
</html>
