<!DOCTYPE html>
<html lang="en">

<% include static/head.ejs %>

<body>

    <!--  preloader start -->
    <div id="tb-preloader">
        <div class="tb-preloader-wave"></div>
    </div>
    <!-- preloader end -->


    <div class="wrapper">

        <!--header start-->
        <header class="l-header l-header_overlay">
                <% include static/header.ejs %>
        </header>
        <!--header end-->

        <!--hero section-->
        <div id="fullscreen-banner" class="full-banner vertical-align banner-app">
            <div class="container-mid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="banner-title">
                                <hr>
                                <h1 class="text-uppercase light-txt m-bot-10 inline-block"><small style="color:white">Be a</small > <br> <b>Train-Mate</b> <br> <small style="color:white">to the Society</small></h1>
                                <hr><br><br>
                                <h3 class="text-uppercase light-txt m-bot-30 inline-block">download our mobile app </h3>

                                <div class="m-top-100 inline-block">
                                    <a href="#" class="btn btn-medium btn-theme-border-color wow fadeInLeft" color="white"> download now <i class="fa fa-download"></i></a>
                                    <a href="#" class="btn btn-medium btn-theme-border-color wow fadeInRight"> What is TrainMate <i class="fa fa-th-large"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="app-device">
                <img class="wow fadeInUp" src="images/frontend/app/banner_device.png" alt="" />
            </div>
        </div>
        <!--hero section-->

        <!--body content start-->
        <section class="body-content">

            <!--feature-->
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <!--feature border box start-->
                        <div class="feature-box-grid">

                            <div class="heading-title text-center">
                                <h3 class="text-uppercase">Sri Lanka First Live Train TimeTable. </h3>
                                <p class="half-txt p-top-30">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                            </div>

                            <a href="./train">
                                <div class="col-md-4">
                                    <div class="featured-item border-box text-center">
                                        <div class="icon">
                                            <i class="icon-search"></i>
                                        </div>
                                        <div class="title text-uppercase">
                                            <h4>Search Trains</h4>
                                        </div>
                                        <div class="desc">
                                            Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="./best">
                                <div class="col-md-4">
                                    <div class="featured-item border-box text-center">
                                        <div class="icon">
                                            <i class=" icon-user"></i>
                                        </div>
                                        <div class="title text-uppercase">
                                            <h4>Best Contributor</h4>
                                        </div>
                                        <div class="desc">
                                            Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                        </div>
                                    </div>
                                </div>
                            </a>
                            
                            <a href="./register">
                                <div class="col-md-4">
                                    <div class="featured-item border-box text-center">
                                        <div class="icon">
                                            <i class=" fa fa-edit"></i>
                                        </div>
                                        <div class="title text-uppercase">
                                            <h4>Register Here</h4>
                                        </div>
                                        <div class="desc">
                                            Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--feature border box end-->
                    </div>
                </div>
            </div>
            <!--feature-->
            <hr/>

            <!--feature-->
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <!--feature border box start-->
                        <div class="feature-box-grid">

                            <div class="heading-title text-center">
                                <h3 class="text-uppercase">amazing features </h3>
                                <p class="half-txt p-top-30">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                            </div>

                            <div class="col-md-4 text-right p-top-100">
                                <div class="featured-item feature-outline right m-bot-80">
                                    <div class="icon">
                                        <i class=" icon-mobile"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>responsive design</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
                                    </div>
                                </div>
                                <div class="featured-item feature-outline right m-bot-80">
                                    <div class="icon ">
                                        <i class=" icon-browser2"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>clean code</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
                                    </div>
                                </div>
                                <div class="featured-item feature-outline right">
                                    <div class="icon ">
                                        <i class=" icon-laptop2"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>seamless markup </h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="responsive-img">
                                    <img src="images/frontend/app/appimg1.png" alt="" />
                                </div>
                            </div>
                            <div class="col-md-4 p-top-100">
                                <div class="featured-item feature-outline m-bot-80">
                                    <div class="icon">
                                        <i class=" icon-puzzle"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Huge shortcode</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
                                    </div>
                                </div>
                                <div class="featured-item feature-outline  m-bot-80">
                                    <div class="icon ">
                                        <i class=" icon-layers"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>unique demo</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
                                    </div>
                                </div>
                                <div class="featured-item feature-outline">
                                    <div class="icon ">
                                        <i class=" icon-basic_clock"></i>
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>24/7 support </h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--feature border box end-->
                    </div>
                </div>
            </div>
            <!--feature-->


            <!--feature-->
            <div class="page-content gray-bg relative p-bot-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="responsive-img app-img-bottom ">
                                <img src="images/frontend/app/appimg2.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="heading-title">
                                <h3 class="text-uppercase">
                                    Detailed documentation
                                </h3>
                                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                            </div>

                            <div class="featured-item feature-outline m-bot-80">
                                <div class="icon">
                                    <i class=" icon-documents"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>text documentation</h4>
                                </div>
                                <div class="desc">
                                    Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
                                </div>
                            </div>
                            <div class="featured-item feature-outline ">
                                <div class="icon ">
                                    <i class=" icon-video"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>video documentation</h4>
                                </div>
                                <div class="desc">
                                    Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--feature-->


            <!--feature-->
            <div class="page-content ">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 ">
                            <div class="heading-title">
                                <h3 class="text-uppercase">
                                    All in one app
                                </h3>
                                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                            </div>

                            <div class="featured-item feature-outline m-bot-80">
                                <div class="icon">
                                    <i class=" icon-pictures"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>image parallax</h4>
                                </div>
                                <div class="desc">
                                    Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
                                </div>
                            </div>
                            <div class="featured-item feature-outline ">
                                <div class="icon ">
                                    <i class=" icon-video"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>video parallax</h4>
                                </div>
                                <div class="desc">
                                    Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="responsive-img  ">
                                <img src="images/frontend/app/appimg3.png" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--feature-->
            <hr/>
            
            <hr/>
            

            <!--price-->
            <div class="page-content gray-bg">
                <div class="container">
                    <div class="row price-table-row">
                        <div class="heading-title text-center">
                            <h3 class="text-uppercase">Advertisement Pricing Table </h3>
                            <p class="half-txt p-top-30">Publish your ads with us and make your business more success! </p>
                        </div>

                        <!--3 column price table-->
                        <div class="col-md-4">
                            <div class="price-col">
                                <h1>Starter</h1>
                                <div class="p-value">
                                    <div class="dollar">
                                        LKR. 2,500 <span>.00</span>
                                    </div>
                                    <div class="duration">
                                        per month
                                    </div>
                                </div>
                                <ul>
                                    <li>24/7 Tech Suport</li>
                                    <li>Lorem ipsum dolor.</li>
                                    <li>ipsum dolor sit amet.</li>
                                    <li>dolor sit amet.</li>
                                </ul>
                                <a href="#" class="p-btn">purchase this plan</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-col feature">
                                <h1>premium</h1>
                                <div class="p-value">
                                    <div class="dollar">
                                        LKR. 5,000 <span>.00</span>
                                    </div>
                                    <div class="duration">
                                        per month
                                    </div>
                                </div>
                                <ul>
                                    <li>24/7 Tech Suport</li>
                                    <li>Lorem ipsum dolor.</li>
                                    <li>ipsum dolor sit amet.</li>
                                    <li>dolor sit amet.</li>
                                </ul>
                                <a href="#" class="p-btn">purchase this plan</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="price-col">
                                <h1>enterprise</h1>
                                <div class="p-value">
                                    <div class="dollar">
                                        LKR. 1,000 <span>.00</span>
                                    </div>
                                    <div class="duration">
                                        per month
                                    </div>
                                </div>
                                <ul>
                                    <li>24/7 Tech Suport</li>
                                    <li>Lorem ipsum dolor.</li>
                                    <li>ipsum dolor sit amet.</li>
                                    <li>dolor sit amet.</li>
                                </ul>
                                <a href="#" class="p-btn">purchase this plan</a>
                            </div>
                        </div>
                        <!--3 column price table-->

                    </div>
                </div>
            </div>
            <!--price-->

            <!--apps download-->
            <div class="page-content text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-title">
                                <div class="m-bot-30">
                                    <i class="icon-download txt-extra-xl"></i>
                                </div>
                                <h3 class="text-uppercase">DOWNLOAD APP from</h3>
                            </div>
                            <div>
                                <a href="#" class="btn btn-medium btn-dark-solid  "><i class="fa fa-apple"></i> App Store</a>
                                <a href="#" class="btn btn-medium btn-dark-solid  "><i class="fa fa-android"></i> Play Store</a>
                                <a href="#" class="btn btn-medium btn-dark-solid  "><i class="fa fa-windows"></i> win store</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--apps download-->

            


        </section>
        <!--body content end-->

        <!--footer -->
        <% include static/footer.ejs %>
        <!--footer-->

    </div>


    <!-- inject:js -->
    <% include static/base.ejs %>
    <!-- endinject -->
</body>


<!-- Mirrored from massive.markup.themebucket.net/mp-index-app-landing.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Apr 2017 19:21:40 GMT -->
</html>
