<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" style="background-color: #f6d66f;">
<!--                <div class="image">-->
                    <center><img src="/images/trainMate.png" width="100%"> </center>
<!--                    <a href="javascript:;"><img src="assets/img/user-13.jpg" alt="" /></a>-->
<!--                </div>-->
<!--
                <div class="info">
                    Rahal Jayawardane
                    <small>Back end developer</small>
                </div>
-->
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="active"><a href="./index"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>
            <li><a href="./map"><i class="fa fa-map-marker"></i> <span>Map</span></a></li>
            <li class="has-sub">
                <a href="javascript:;">
                    <i class="fa fa-train"></i>
                    <b class="caret pull-right"></b>
                    <span>Trains</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="./trainLine">Train Lines</a></li>
                    <li><a href="./station">Stations</a></li>
                    <li><a href="./train">Trains</a></li>
                    <li><a href="./trainStops">Train Stops</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <i class="fa fa-users"></i>
                    <b class="caret pull-right"></b>
                    <span>Contributors</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="./requests">Requests</a></li>
                    <li><a href="./contributor">Approved</a></li>
                    <li><a href="./leaderboard">LeaderBoard</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <i class="fa fa-file"></i>
                    <b class="caret pull-right"></b>
                    <span>Reports</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="./reportSchdulePage">Train Schedule Report</a></li>
                    <li><a href="./trainStops">Train Stops</a></li>
                </ul>
            </li>
            <li><a href="./backup"><i class="fa fa-database"></i> <span>Backup &amp; Restore</span></a></li>
            
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>